:root {
  --primary-color: #ff9854;
  --van-search-left-icon-color:var(--primary-color) !important;
  --line-color:#f2f2f2;
  --van-calendar-popup-height:75% !important;
  --theme-linear-gradient:linear-gradient(to right,#f09127,#fccd90);
  line-height: 1;
}

body {
  font-size: 14px;
}

.hide-tabbar {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-right: 60px;
  height: 44px;
  color: #999;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}