body, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}